<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Sustainable Cities MN </title>
    <script src="/static/jquery/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/static/popper/popper.min.js" charset="utf-8"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <style>
      body {
        background-color: #f3ebdd;
        color: #2a2922;
      }
      .container{
        background-color: #f3ebdd;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
      }
      .container h1{
        color: #7d5642;
        padding-bottom: 50px;
      }
      .jumbotron{
        margin-bottom: 0px;
        border-radius: 0px;
      }
    </style>
  </head>

  {% include 'navbar.html' %}


  <body>

        <div class="jumbotron" style="background-color: #506d2f">
          <h1 class="display-3" style="text-align: center; color: #F3EBDD ">Sustainable Cities MN</h1>
          <p class="lead"style="color: #F3EBDD ">A blog dedicated to inform the public about the progress of cities in climate action.</p>
        </div>

    <div class="container">




    <h1>Content</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc elit, suscipit vel lacus at, rutrum pretium turpis. Quisque et pretium lectus, vel hendrerit felis. Maecenas accumsan lorem enim. Aenean at lorem varius, convallis erat quis, lacinia sem. Cras ut dui mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer sapien nisl, sodales non varius non, facilisis in nunc. Nulla facilisi. In hac habitasse platea dictumst. Nunc nisi tortor, viverra ac libero nec, sodales sollicitudin dolor. Praesent congue diam sed ex dictum congue.

Sed metus turpis, finibus eu ornare ornare, tristique sit amet nisi. Maecenas auctor molestie risus at tempor. Vestibulum sit amet vestibulum sapien, vel mattis nisi. In sollicitudin euismod dapibus. Vestibulum pulvinar faucibus dui vitae posuere. Donec et sapien ornare, mollis risus eu, fringilla dolor. Curabitur urna tortor, tincidunt quis orci ac, aliquet maximus dolor.

In blandit rhoncus metus quis finibus. Mauris felis quam, ultricies at nisl vitae, consectetur finibus libero. Donec dictum lectus eu leo posuere laoreet. Duis dapibus ligula ut arcu pharetra, sed ultrices lorem molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales commodo blandit. Aliquam consectetur mauris eu magna feugiat, quis gravida ligula consequat. Donec nec tortor in mauris rhoncus eleifend nec suscipit massa. Nulla rhoncus interdum convallis. Sed malesuada nisi vitae dignissim bibendum.

Nulla nec lacinia lectus. Vivamus tempor, risus sit amet pulvinar porttitor, ipsum sapien aliquet dolor, eu pretium enim massa et lacus. Aliquam erat volutpat. Vivamus interdum, massa at commodo finibus, lorem dolor luctus quam, eget maximus purus sapien sed dui. Sed convallis porttitor sapien, vel fermentum nulla sollicitudin malesuada. Praesent sollicitudin sem id leo ultricies pulvinar. Vestibulum interdum tincidunt massa, et euismod nulla mollis nec. Aliquam dolor lorem, mattis sed risus a, fermentum venenatis urna. Aenean in blandit erat. Vivamus elementum a lorem ac rutrum. Mauris suscipit, quam vitae mollis aliquet, enim nulla ultricies libero, quis pharetra lorem felis vel ligula. Nulla imperdiet magna eget erat congue gravida. Suspendisse libero enim, lobortis sit amet turpis at, commodo pellentesque dolor. Phasellus at tortor orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut arcu risus.

Nam euismod sit amet quam quis fringilla. In a dolor vitae nisi maximus pretium. Duis ultrices libero nisi, in egestas sem ornare non. Suspendisse ac lectus gravida, tincidunt diam eu, posuere lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sed sapien elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum at magna eget elit pellentesque scelerisque. Donec hendrerit nec justo a sollicitudin. In vel augue venenatis, malesuada nisl quis, feugiat nisl. Cras sodales tellus ut arcu accumsan auctor.</p>


<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="/static/img/mpls3.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
  </body>

    {% include 'footer.html' %}
</html>
